.select-filter {
  height: 24px;
  font-size: calc(10px + 2vmin);
  background-color: darkcyan;
  border-color: darkcyan;
  box-shadow: 2px 3px 5px 0px darkslategrey;

  &:focus {
    //border-color: white !important;
    outline-color: darkslategrey;
  }
}
