.filter-container {
  display: flex;
  justify-content: space-between;
  .filters {
    display: flex;
    flex-grow: 1;
    .multiselect-filter {
      margin-right: 10px;
    }
  }
  .searchBar {
    height: 24px;
    width: 200px;
    padding-left: 10px;
  }
}
.tag-container {
  display: flex;
}
.cards-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
